* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-SemiBold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* HEADER */
.header{
    color: black;
}
.container-fluid {
    background: #070403;
}
.logo-crosshair {
    cursor: crosshair;
}
/* BARRA DE NAVEGACIÓN */
#navbarNavDropdown {
    background-color: #5100ae;
}
.image-style-width{
    width: 100%;
}
#navtitle {
    color: white;
    cursor: crosshair ;
    background-color: #5100ae;
}
#navtitle:hover {
    background-color: #070403;
}
.navtitle {
    color: white!important;
    cursor: crosshair ;
    background-color: #5100ae;
}
.navtitle:hover {
    background-color: #070403;
}
a.dropdown-item:visited {color:#000;}
a.dropdown-item:hover {background:#5100ae;}
a:hover, a:active {
    background-color: #070403;
    color: white;
}
span {
    cursor: crosshair;
    border-color: #9e8a7c;
    background-color: #070403;
}
.p-0 {
    background-color: #5100ae;
}
body {
    font-family: "Montserrat, Arial", serif;
    background: #9c99a143 url(/Imagenes/PUNTOG.png);
}
/*CASTERS */
* {
    box-sizing: border-box;
}
.tabla {
    border: 5px rgba(231, 225, 225, 0.938) solid;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}
main {
    text-align: left;
    font-size: medium;
}
.nom_ {
    font-size: 1.7rem;
    text-align: center;
}
.nombre_ {
    font-size: 1.5rem;
    color: rgb(254, 250, 124);
    text-align: left;
}
.subtitulo_ {
    font-size: 1.5rem;
    color: rgb(255, 165, 199);
    text-align: left;
}
.rrss_ {
    font-size: 1rem;
    color: #e0e0e0;
}
/* CASTERS VALORANT*/
.desc {
    color: white;
    font-size: 1rem;
    font-family: "Montserrat";
    margin-left: 30px;
}
.image {
    margin-left: 30px;
}
.rrss_1 {
    font-size: 1rem;
    color: #e0e0e0;
    margin-left: 30px;
}
/* CASTERS CS2 */
.nombre__ {
    text-align: center;
    color: rgb(233, 233, 229);
}
.caster2 {
    text-align: center;
    color: #fff243;
}
/* CREADORES DE CONTENIDOS */
.creators {
    text-align: center;
    align-content: center;
}
.cdc_ {
    color: yellow;
    text-align: center;
    font-size: 1.5rem;
}
/* CREADORES DE CONTENIDOS -  STREAMERS*/
/* ¿CREADOR DE CONTENIDOS? */
.imagecdc {
    align-content: left;
    color: yellow;
    text-align: justify;
    margin-left: 30px;
    font-size: 1rem;
}
.botoncdc {
    box-sizing: initial;
    border-radius: 2px;
    border-bottom-color: rgb(252, 255, 58);
    border-right-color: rgb(252, 255, 58);
    border-top-color: #eae5e1;
    border-left-color: #eae5e1;
    font-family: "Montserrat";
    font-size: small;
    background-color: rgba(152, 86, 239, 0.595);
    width: 120px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}