* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-SemiBold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* HEADER */
.header{
    color: black;
}
.container-fluid {
    background: #070403;
}
.logo-crosshair {
    cursor: crosshair;
}
/* BARRA DE NAVEGACIÓN */
#navbarNavDropdown {
    background-color: #5100ae;
}
.image-style-width{
    width: 100%;
}
#navtitle {
    color: white;
    cursor: crosshair ;
    background-color: #5100ae;
}
#navtitle:hover {
    background-color: #070403;
}
.navtitle {
    color: white!important;
    cursor: crosshair ;
    background-color: #5100ae;
}
.navtitle:hover {
    background-color: #070403;
}
a.dropdown-item:visited {color:#000;}
a.dropdown-item:hover {background:#5100ae;}
a:hover, a:active {
    background-color: #070403;
    color: white;
}
span {
    cursor: crosshair;
    border-color: #9e8a7c;
    background-color: #070403;
}
.p-0 {
    background-color: #5100ae;
}
/*BODY - ARTICULOS - SECTION */
body {
    font-family: "Montserrat, Arial", serif;
    background: #9c99a143 url(/Imagenes/PUNTOG.png);
}
section {
    display: flex;
}
.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 350px 350px 350px;
    gap: 5px;
    background-color: #2195f300;
    padding: 20px;
}
.grid-container > div {
        background-color: rgba(30, 27, 27, 0.32);
        text-align: center;
        padding: 20px 0;
        gap: 5px;
}
.grid-item {
    background: rgba(0, 0, 0, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(0, 0, 0, 0.34);
    color: whitesmoke;
}
/* FORMULARIO*/
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Italic.ttf) format(truetype);
    font-weight: 300;
}
.formus {
    background-color: #ffffff;
    padding: 0.5px;
    margin: 20px;
    border: 2px solid #978ceb53;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 20px;
    width: 950px;
}
.file {
    margin-left: 5px;
    text-decoration: none;
}
/*
.forms {
    width: auto;
    justify-content: center;
    margin-left: 30px;
    background: rgba(189, 181, 136, 0.473);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(0, 0, 0, 1);
}*/
/*
input[type="submit"]:hover {
    background-color: #f9f631;
    color: black;
    margin-left: 35px;
}*/
h6 {
    color: whitesmoke;
}
textarea {
    margin-left: 40px;
}
input {
    align-items: center;
}
.formulario {
    background: rgba(40, 40, 71, 0.728);
    padding: 30px;
    width: 415px;
}
.formulario-input {
    padding: 9px 12px;
    width: 10%;
    margin: 10px;
    background: black;
    color: red;
}
.formulario-submit {
    letter-spacing: 2px;
    text-transform: uppercase;
    background: rgba(255, 0, 0, 0.563);
    color: white;
    width: 70%;
    border-bottom-style: groove;
}
.checcolor {
    color: white;
}