/* INICIO */
@media only screen and (min-width:320px) and (max-width: 1280px){
    .contenedor {
        width: 100%;
        padding-left: 20px;
    }
}
/* Header */
.header{
    color: black;
}
.container-fluid {
    background: #070403;
}
.logo-crosshair {
    cursor: crosshair;
}
/* barra de navegacion */
#navbarNavDropdown {
    background-color: #5100ae;
    
}

.image-style-width{
    width: 100%;
}
#navtitle {
    color: white;
    cursor: crosshair ;   
    background-color: #5100ae;
    
}
#navtitle:hover {
    background-color: #070403;
}
a.dropdown-item:visited {color:#000;}
a.dropdown-item:hover {background:#5100ae;}
a:hover, a:active {
    background-color: #070403;
    color: white;
}
span {
    cursor: crosshair;
    border-color: #9e8a7c;
    background-color: #070403;
}
/*Body - Articulos - Section */
.videotitulo {
    font-family:Arial, Helvetica, sans-serif
}
.estilo {
    background-color: black;
    
    padding-left: 20px;
}
.fotos {
    height: 750px;
}
body {
    background:#9c99a143;
    font-family: Arial, Helvetica, sans-serif;
    width:99%;
}
.contenedor {
    background-color: black;
}
/* Titulo h2 Video destacado */
/* Aside - h3 - p - imagen*/
.title1 {
    width: 100%;
    height: 28%;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}
.p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: oblique;
    text-align: justify;
}
.videotitulo {
    text-align: justify;
}
/* Footer */
footer {
    background:#070403;
    color: #796253;
}
.tktk {
    color: #c4b6ab;
    width: 150px;
    height: 150px;
}
/* MEDIA */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    font-size: 400;
    padding: 20px;
}
/* ENTREVISTAS*/
.title2 {
    letter-spacing: 1rem;
    text-shadow: rgba(54, 15, 112, 0.667);
    text-align: center;
    font-size: 45px;
    padding: 5px;
}
.card {
    width: 200px;
    height:auto;
    border: 1px solid rgba(0, 0, 0, 0.374);
    margin-left: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #726957
}
/* RETOS */
.cards {
    background: #909a9225;
    border: rgb(103, 49, 212);
    text-align: left;
    width: 200px;
    height:auto;
    border: 1px solid rgba(0, 0, 0, 0.374);
    margin-left: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #a60fe7c8;
}
.card-img-top{
    border-top-left-radius: 10px;
}
.card-text {
    font-family: Arial, Helvetica, sans-serif;
}
.card-title4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 1rem;
}
/* GALERIA DE FOTOS */
.title3 {
    color: #340a51ac;
}
.comicon {
    color: whitesmoke;
    text-align: center;
}
.title5 {
    color: whitesmoke;
}
.fotogaleria {
    width: 1500px !important;
    height: 900px;
}
/* CASTERS */
* {
    box-sizing: border-box;
}
main {
    text-align: center;
    font-size: medium;
}

.card {
    display: grid;
    justify-content: space-around;
    margin-right: 100px;
    background-attachment: fixed;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}
.card1 {
    text-transform: uppercase;
}

.img-container {
    float: left;
    width: 33%;
    padding: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}